<footer class="container-fluid mt-auto footer page-footer custom-background-transparent-middle-hard">
    <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
        <li class="m-1 p-1">
            <div class="navbar">
                <a class="btn btn-sm btn-outline-secondary" href="#">to TOP</a>
            </div>
        </li>
        <li class="m-1 p-1">
            <div class="navbar dropup">
                <a class="dropdown-toggle btn btn-sm  btn-outline-danger" role="button" data-bs-toggle="dropdown">Help!</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <strong class="dropdown-header">Mobile phone</strong>
                            <a class="dropdown-item disabled" href="#">+7 747 261 03 59</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Email (google)</strong>
                        <a class="dropdown-item disabled" href="#">bogdandrienko@gmail.com</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</footer>