{% extends "components/base.html" %}
{% load app_django_extras %}
{% load static %}
{% load app_django_extras %}
{% today True as develop %}

{% block head %}{% endblock head %}
{% block title %}
    {% text_upper_case text='Home page' %}
{% endblock title %}

{% block prestyle %}{% endblock prestyle %}
{% block icon %}<link rel="icon" href="{% static 'img/logo512.png' %}" type="image/png">{% endblock icon %}
{% block poststyle %}{% endblock poststyle %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block header %}Register{% endblock header %}

{% block description %}this page contains global information about project{% endblock description %}

{% block main %}

<ul>
{% for i in names %}
    <li><a href="{% url "app_name_task_list:post_detail" i.id  %}">{{ i.pretty }}</a><li>
{% endfor %}
</ul>

{% endblock main %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

{% block prescript %}{% endblock prescript %}
{% block postscript %}{% endblock postscript %}
