{% extends "components/base.html" %}
{% load django_app_extras %}
{% load static %}


{% block title %}
    {% text_upper_case text='изменение поста' %}
{% endblock title %}

{% block header %}
    изменение поста
{% endblock header %}

{% block description %}
    эта страница содержит форму, которая позволяет обновить уже существующий пост
{% endblock description %}

{% block main %}
<div class="container shadow-lg m-0 p-0">
    <div class="shadow border-bottom">
        <div class="d-flex text-start">
            <a class="text-decoration-none lead btn btn-sm btn-outline-primary m-1 p-2" href="{% url 'django_app:read_list' %}">
                <= список всех постов <i class="btn btn-sm btn-dark bg-opacity-50 badge rounded-pill">{{ post_count }}</i>
            </a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 custom-background-transparent-middle m-0 p-0">
        <form action="{% url 'django_app:update' post.id %}"
                  method="POST"
                  target="_self"
                  enctype="multipart/form-data"
                  name="idea_create"
                  autocomplete="on"
                  class="text-center"
        >
            {% csrf_token %}
            <div>
                <div>
                    <label class="form-control-sm w-50 m-1">
                        Заголовок:
                        <input type="text"
                               name="title"
                               required=""
                               placeholder="вводить 'заголовок' здесь..."
                               value="{{ post.title }}"
                               minlength="1"
                               maxlength="300"
                               class="form-control form-control-sm"
                        />
                        <small class="text-muted">количество символов: <= 300</small>
                    </label>
                    <label class="form-control-sm w-75 m-1">
                        Описание:
                        <textarea type="text"
                                  name="description"
                                  required=""
                                  placeholder="вводить 'описание' здесь..."
                                  minlength="1"
                                  maxlength="3000"
                                  rows="3"
                                  class="form-control form-control-sm"
                        >{{ post.description }}</textarea>
                        <small class="text-muted">количество символов: <= 3000</small>
                    </label>
                </div>
            </div>
            <hr/>
            <div class="container-fluid text-center">
                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                    <li class="m-1">
                        <button class="btn btn-lg btn-outline-primary" type="submit">отправить</button>
                    </li>
                    <li class="m-1">
                        <button class="btn btn-lg btn-outline-warning" type="reset">сбросить</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
{% endblock main %}
