{% extends "components/base.html" %}

{% block title %}Detail post{% endblock title %}
{% block main %}

    <div class="container container-fluid">

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-1">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ post.title }}</text></svg>
            <div class="card-header">{{ post.title }}</div>
            <div class="card-body">
              <p class="card-text">{{ post.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">
                    <a href="{% url 'django_twitter_app:post_delete' post.id %}" class="text-decoration-none btn"><i class="fa-solid fa-trash-can text-danger"></i></a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock main %}